# pyproject.toml
[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools>=65", "setuptools_scm[toml]>=7.1", "wheel"]

[project]
name = "pys5p"
description = "Software package to access Sentinel-5p Tropomi data products"
readme = "README.md"
requires-python = ">=3.9"
license = {text = "BSD-3-Clause"}
authors = [
  {name = "Richard van Hees", email = "r.m.van.hees@sron.nl"},
  {name = "Paul Tol", email = "P.J.J.Tol@sron.nl"}
]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: BSD License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Topic :: Scientific/Engineering :: Atmospheric Science",
]
dependencies = [
  "h5py>=3.8",
  "moniplot>=0.5.8",
  "numpy>=1.24",
  "netCDF4>=1.5",
  "xarray>=2023.3",
]
dynamic = ["version"]

[project.urls]
homepage = "https://github.com/rmvanhees/pys5p"
documentation = "https://pys5p.readthedocs.io/en/latest/"
# Source = "https://github.com/rmvanhees/pys5p"
# Changelog = "https://github.com/rmvanhees/pys5p/HISTORY.rst"
"Issue tracker" = "https://github.com/rmvanhees/pys5p/issues"

[tool.setuptools_scm]

[tool.ruff]
select = [
  "D",   # pydocstyle
  "E",   # pycodestyle
  "W",   # pycodestyle
  "F",   # pyflakes
  "I",   # isort
  "UP",  # pyupgrade
  # "ANN", # flake8-annotations
  "B",   # flake8-bugbear
  "Q",   # flake8-quotes
  "SIM", # flake8-simplify
  "TID", # flake8-tidy-imports
  "TCH", # flake8-type-checking
  "NPY", # NumPy-specific rules
]
ignore = ["D205"]

[tool.ruff.pydocstyle]
convention = "pep257"

[tool.ruff.flake8-quotes]
inline-quotes = "single"
